*/ {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    font-family: sans-serif;
}

.screen {
    width: 600px;
    height: 600px;
    margin-top: 10px;
    background-image: linear-gradient(to right top, #B721FF, #21D4FD);
    border-radius: 5%;
    box-shadow: #0c4a5850 0 30px 64px;
}

table {
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
}

tr {
    margin: 0;
    padding: 0;
}

th {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 45px;
    font-weight: 400;
    width: 200px;
    height: 196px;
}

/* Borders */
th:nth-child(1), th:nth-child(2) {
    border-right: solid rgba(27, 27, 27, 0.856) 2px;
    border-bottom: solid rgba(27, 27, 27, 0.856) 2px;
    border-radius: 3px;
}
th:nth-child(3) {
    border-bottom: solid rgba(27, 27, 27, 0.856) 2px;
    border-radius: 3px;
}
.last-line th {
    border-bottom: none;
}

/*Win screen*/
.success {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.842);
    color: #383838;
    text-shadow: rgba(0, 0, 0, 0.329) 0px 2px 5px;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    display: none;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.reveal {
    width: max-content;
    height: max-content;
    margin: auto;
    animation: 1s reveal;
}

.show-players {
    width: 100%;
    display: flex;
    justify-content: center;
}

.players {
    font-size: 24px;
    font-weight: 300;
    margin: 24px 50px;
}

.inactive {
    color: #00000052;
}

/*Reset*/
.reset img {
    width: 30px;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
.reset img:hover {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.034) 0px 16px 32px;
    padding: 10px;
}

.end-game-reset {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.034) 0px 16px 32px;
}